html, body {
  background: #121212;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.request-container {
  height: 60vh;
  
  justify-content: space-between;
}

.left-container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-right: 10px;
  
}

.select{
  color: white;
  margin-top: 10px;
}

select,
.slidecontainer {
  margin-left: 10px;
}

.tracks-container {
  background-color: #121212;
  color: white;
  width: 50%;
  overflow-y: scroll;
}

.song-container,
.info-container {
  display: flex;
  flex-wrap: nowrap;
}

.auth,
.request-container,
.option-container {
  display: flex;
  margin: 20px 0;
}

.auth{
  justify-content: center;
}

.button-auth {
  width: 180px;
  height: 48px;
  background-color: #8c5e58;
}

.button-track {
  background-color: rgb(30, 129, 221);
  color: white;
  height: calc(60px + 8%);
  width: 45%;
  margin: 10px 10px;
}

.info {
  width: 28vw;
  margin-left: 47px;
  margin-right: -47px;
  margin-bottom: 15px;
}

.artist-info{
  margin-left: calc(-7% + -20px);
}

.song {
  font-size: 12pt;
  width: 80%;
  display: flex;
  margin-left: 15px;
}

.song-title {
  width: 50%;
}

.song-artist {
  width: 30%;
  margin-left: 22px;
}

.player {
  width: 95%;
  height: 80px;
}

.far,
.fas {
  cursor: pointer;
  margin-top: 3px;
  margin-right: 4px;
  margin-left: 4px;
  border: transparent solid 4px;
}

.hide {
  display: none;
  pointer-events: none;
}

@media screen and (max-width: 1200px){
  .container{
    justify-content: flex-start;
  }
  .request-container{
    display: block;
    background-color: transparent;

    height: 20%;
  }
  .left-container{
    width: 100%;
    height: 100%;
  }
  .tracks-container{
    width: 100%;
    height: max-content;
    overflow-y: visible;
    margin-left: auto;
  }
  .info-container{
    margin-top: 20px;
  }
  .info{
    width: 50vw;
  }

  .artist-info{
    margin-left: calc(-24px + -2%);
  }
}