body{
    background: #444444;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.request-container{
    height: 60vh;
    background-color: grey;
    justify-content: space-between;
}

.left-container{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tracks-container{
    width: 50%;
    overflow-y: scroll;
    margin: 10px;
}

.song-container{
    display: flex;
    flex-wrap: nowrap;
}

.auth, .request-container, .option-container{
    display: flex;
    margin: 20px 0;
}

.button-auth{
    width: 100%;
    height: 48px;
    background-color: #8C5E58;

}

.button-track{
    background-color: #A9F0D1;
    height: 48px;
    margin: 10px 10px;
}

.song{
    font-size: 16pt;
    width: 80%;
}

.player{
    
    width: 100%; 
    height: 50%;
}

.far, .fas{
    cursor: pointer;
    margin-top: 8px;
    margin-right: 4px;
}

